<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1"
>
<head>
    <meta charset="UTF-8">
    <title>Form Patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.2/font/bootstrap-icons.css">
</head>
<body>
<div class="container" layout:fragment="content1">
    <form method="post" th:action="@{save}">
        <div class="row mt-5">
            <div class="col-6">
                <Label for="nom">Nom</Label>
                <input id="nom" class="form-control" type="text" name="nom" th:value="${patient.nom}">
                <span class="text-danger" th:errors="${patient.nom}"></span>
            </div>
            <div class="col-6">
                <Label for="dateNaissance">Date Naissance</Label>
                <input id="dateNaissance" class="form-control" type="date" name="dateNaissance" th:value="${patient.dateNaissance}">
                <span class="text-danger" th:errors="${patient.dateNaissance}"></span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6 pt-3">
                <input class="form-check-input me-2" id="malade" type="checkbox" name="malade" th:checked="${patient.malade}">
                <Label class="form-check-label" for="malade">Malade</Label>
                <span class="text-danger" th:errors="${patient.malade}"></span>
            </div>
            <div class="col-6">
                <Label for="score">Score</Label>
                <input id="score" class="form-control" type="text" name="score" th:value="${patient.score}">
                <span class="text-danger" th:errors="${patient.score}"></span>
            </div>
            <div class="col mt-5">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>